<!-- Zeinab's part: The chatting page html! -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Chatting</title>
    <link rel="stylesheet" href="/chatstyle.css">
</head>

<body>
    <header>Welcome <span id="displayName">{{name}}</span>
        <a id="logoutButton" href="/logout/{{name}}">Logout</a>
    </header>
    <div id="sidebar">
        <h4 id="usersTop">Users</h4>
        <div id="users">
            {{#each users}}
            <!-- Users will only show if they are online! -->
            {{#if online}}
            <div class="user" data-username="{{this.username}}">
                <span class="username">{{this.username}}</span>
                <!-- I put this if incase a user is loaded despite being offline, they'll show they're offline -->
                <span class="status {{#if online}}online{{else}}offline{{/if}}">
                    {{#if online}}Online{{else}}Offline{{/if}}
                </span>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>

    <div id="chat">
        <h4 id="chatWith">Select a user</h4>
        <div id="messages"></div>

        <div id="messageBox">
            <input id="messageInput" placeholder="Message">
            <button id="sendButton">Send</button>
        </div>
    </div>

    {{!-- Update by Athena for Phase 3! --}}
    {{!-- we are now changing all of these manual into the recently autogeneration --}}

    <script src="/socket.io/socket.io.js"></script>

    <script>
        // set username before client runs
        window.displayName = "{{name}}";
        console.log('Username set to:', window.displayName);

        // initialize display name from server
        window.addEventListener('DOMContentLoaded', () => {
            displayName = "{{name}}";
            document.getElementById('displayName').textContent = displayName;
        });
    </script>

    <script src="/client.js"></script>


</body>

</html>